.jumbotron{
	padding:20px;
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.table{
	margin-top: 20px;
}
.form-control{
	margin-bottom:  5px;
}
.selecionado{
	background: yellow;
}
.negrito{
	font-weight: bold;
}